/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-img {
  width: 150px;
}
.contact-heading {
  color: #6d396b;
  font-family: 'roboto';
  font-size: 30px;
}
@media (max-width: 575px) {
  .contact.heading {
    font-size: 48px;
  }
}
