* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 80%;
  height: 80vh;
  border: 4px solid #551e53;
}
.app-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .app-card {
    width: 85%;
  }
}
